
.cajaLogin{
	margin-top:50px;
}

.input-login{
	margin-bottom: 25px;
}

.panel-login{
	padding-top:30px;
}


.boton-enviar{
	width:100%;
}

.navPrivada{
	background-color:#d9edf7;
	border-color: #bce8f1;

}

.navbar-default .navbar-nav > li > a {
	color: #31708f!important;
}

.navCel{
	background-color:#d9edf7;
	border-color: #bce8f1;
}


.cargarNoticia{
	display: block;
	margin: 0;
}

.footer{
	width:100%;
    height:100px;
    display:block;
    margin:0 auto auto auto;
}

.nav > li {
	display:inline-block;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #fff;
  border-color: #337ab7;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #fff;
}

.botonSubmenu{
	margin-top:-5px;
}

.botonSubmenu a{
	color: #31708f!important;
}

.dropdown-menu{
	margin-top:10px;
}

#conteiner{
	width:60%;
}

@media (min-width: 768px){

.navbar-nav > li {
  float: initial;
}

.caja{
	width: 100%;
  	margin-left: 30%;
    
     
}  

}