@font-face {
   font-family: Lifestyle;
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/Lifestyle M54.ttf');
}

/* Opificio-Serif-regular.ttf */

@font-face {
   font-family: Opificio;
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/Opificio-Serif-regular.ttf');
}


body{
	background-image:url('../img/bg.jpg');
}

#wrapper{  
	position: relative;
  	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
  	margin: 0px auto;
  	width:80%;
  	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.header{
	background-color:#111;
	height:84px;
	opacity:0.7;
	margin:auto;
	display:block;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
}

.logo img{
	height:90px;
}

.logo #nombre-empresa{
	font-size: 40px;
}

.logo #desc-empresa{

}


#conteiner{
	background-color:#fff;
	margin:auto;
	display:block;
	/* min-height: 1120px;*/
	min-height: 750px;
}

.info_contacto{
	text-align: right;
	margin:auto;
	display:block;
	width:80%;
	margin-top:20px;
}

.icono{
	margin-right: 25px;
  	padding: 5px;	
  	background-repeat: no-repeat;
  	list-style: none;
  	display:inline-block;
  	background-size: 20px;	
}

.icono.telefono{
	background-image: url('../img/iconos/telefono.png');
  	background-position: 0px 9px;
}

.icono.email{
	background-image: url('../img/iconos/email.png');
  	background-position: 0px 9px;
}

.icono.mapa{
	background-image: url('../img/iconos/mapa.png');
  	background-position: 0px 9px;
}

.icono p{
	margin-left:25px;
	font-weight: bold;
	margin-top:2px;
}

.footer{
	background-color:#bbb;
	opacity:0.7;
	margin:auto;
	display:block;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.footer p{
	padding:5px;
	text-align: center;
}

#modulo1, #modulo3{
	display:block;
	float:left;
	width:490px;
	padding:20px;
	margin-left:20px;
	margin-top:15px;
	font-family: 'Sans-serif';
	min-height:360px;
	padding-top: 0px;
}

#modulo3{
	min-height:257px;
}

#modulo1 h1, #modulo2 h1, #modulo3 h1{
	color:#00a4d9;
}

h5{
	font-size: 14px;
	padding-top:10px;
}

#modulo1 .desc-mod1, #modulo3 .desc-mod1{
	text-align: justify;
}

ul span{
	padding:5px;
	padding-right:20px;
}

#modulo2{
	display:block;
	float:right;
	width:490px;
	padding: 30px;
	font-family: 'Sans-serif';
	/* margin-top:-90px; */
	margin-top:-16px;
}

 #modulo2 input.form-control, textarea.form-control{
	color:#777;
}

#modulo2 .input-group{
	margin-left:10px;
	margin-bottom:8px;
}

#modulo2 p{
	font-size: 13px;
	padding:10px;
	padding-left: 0px;
	text-align: justify;
}

#modulo2 label{
	font-size: 11px;
	font-family: 'Opificio';
	display:inline-block;
}

#modulo2 span.ast{
	font-size:12px;
	display:inline-block;
	font-weight: bold;
}

#modulo2 .btn-group{
	display: block;
   	margin: auto;
  	width: 150px; 
}

.btn-primary{
	padding: 15px 50px 15px 50px;
	width:150px;
}

.col{
	width: 250px;
  	height: 400px;
  	border: 2px solid #00a4d9;
  	border-radius: 20px;
  	display: inline-block;
  	margin: 10px;
  	background-image: url('../img/bg-bloque.png');
  	background-repeat: repeat-x;
}

.col .imgColumn{
	height: 200px;
	width:200px;
	display:block;
	margin:auto;
}

.col h3{
	margin: 0;
  	text-align: center;
  	margin-top: 10px;
  	color: #00a4d9;
}

.col p{
  	text-align: justify;
  	margin-top: 10px;
}

.tresColumnas{
	width: 850px;
  	display: block;
  	margin: auto;
  	padding: 20px;
  	float: none;
  	height: 480px;
}

.clear{
	clear:both;
}

.flecha{
	margin:auto;
	display:block;
	border-top:3px solid #fff;
}

.flecha img{
	width:87px;
	margin-top:-4px;
	margin-left:-25px;
}

.bloque-bottom{
	border-top:1px solid #ccc;
	background-image: url('../img/bg-bloque.png'); 
  	background-repeat: repeat-x;
  	/* height:500px; */
}

}