<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="title" content="Financiera Naveyra prestamos cheques Puerto Madero">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Financiera Naveyra prestamos ,Descuento de cheques de terceros,estamos en Puerto Madero Buenos aires pocos requisitos fácil seguro y rápido "/>
            <meta name="keywords" content="Naveyra ,Cheque,Prestamo, Pyme, Descuento,Puerto madero,Microcentro,CABA,Ciudad de buenos aires,Buenos aires,Creditos,Adelantos,Cuenta bancaria,Cuenta corriente,Chequera,Tarjetas de credito,barato,mejor precio"/>
    		<link rel="shortcut icon" href="favicon.ico" />
            <meta name="classification" content="financiera economia dinero prestamos">
            
            <meta name="robots" content="Index,Follow"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <meta name="Author" content="Nelson A Garrido, Alejandro Cabane"/>

            <meta name="Language" content="Español"/>
             <script src="http://code.jquery.com/jquery.js"></script>
            <script src="../js/bootstrap.min.js"></script>
    		<link href="../js/bootstrap.js" rel="stylesheet" media="screen">

            <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    		<link href="../css/estilo.css" rel="stylesheet" media="screen">
            <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                  ga('create', 'UA-63274517-1', 'auto');
                  ga('send', 'pageview');

            </script>
            <title> Naveyra Financiera</title>
        {% endblock %}
    </head>
    <body>
        <div class="info_contacto">
                <li class="icono email">
                    <p>{{Correo}}</p>
                </li>
                <li class="icono telefono">
                    <p>{{Telefono}}</p>
                </li>
                <li class="icono mapa">
                    <p>{{Ubicacion}}</p>
                </li>
        </div>

        <div id="wrapper">
            <div class="header">
                <div class="logo">
                    <img src="../img/logo.png">
                </div>
            </div>
            <div id="navbarFN">
                  <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                          <li>
                              <a href="#">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio
                              </a>
                          </li>
                          <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calcule su prestamo
                            </a>
                          </li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    Servicios <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Prestamos personales</a></li>
                              <li><a href="#">Descuento cheques</a></li>
                              <li><a href="#">Adelantos</a></li>
                            </ul>
                          </li>
                          <li><a href="#">
                                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Nosotros</a></li>
                        </ul>
                        <p class="navbar-text navbar-right">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Bienvenido Usuario
                        </p>
                        
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            
            <div id="conteiner" class="contenedor">{% block conteiner %}{% endblock %}</div>
            <div class="footer">
                <p>Todos los derechos reservados. Financiera Naveyra © </p>
            </div>
        </div>
    </body>
</html>
