<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<link rel="shortcut icon" href="favicon.ico" />
    		<link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    		<link href="../css/estilo.css" rel="stylesheet" media="screen">
            <title> Naveyra Financiera</title>
        {% endblock %}
    </head>
    <body>
        <div class="info_contacto">
                <li class="icono email">
                    <p>financiera.naveyra@gmail.com</p>
                </li>
                <li class="icono telefono">
                    <p>(011) 15-3858-7990</p>
                </li>
        </div>

        <div id="wrapper">
            <div class="header">
                <div class="logo">
                    <span id="nombre-empresa">Naveyra</span>
                    <span id="desc-empresa">Compañía Financiera</span>

                </div>
            </div>
            <div id="conteiner" class="contenedor">{% block conteiner %}{% endblock %}</div>
            <div class="footer">
                <p>Footer</p>
            </div>
        </div>
    </body>
</html>
