<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<link rel="shortcut icon" href="favicon.ico" />
    		<link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    		<link href="../css/admin.css" rel="stylesheet" media="screen">
            <script src="http://code.jquery.com/jquery.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <title>{% block title %}{% endblock %} - Financiera Naveyra</title>
        {% endblock %}
    </head>
    <body>
        
        <!-- Empieza la barra -->
        <nav class="navbar navbar-default navPrivada">
            <div class="container-fluid">
    
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed botonCel" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand color-letra" href="#">Naveyra</a>
                </div>

    
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="color-letra"><a href="#">Actualizar Contacto</a></li>
                    <li class="color-letra"><a href="#">Mis Datos</a></li>
                    <li class="color-letra"><a href="#">Cargar Noticia</a></li>
                    <li class="color-letra"><a href="https://gmail.com">Ir al Correo</a></li>
                    
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="color-letra"><a href="../controlador/logout.php">Cerrar Sesion</a></li>
                   
                  </ul>
                </div>
            </div>
        </nav>
        <!-- /.navbar -->
        <div id="conteiner">{% block conteiner %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
  				<hr style="width:100%;position: absolute; bottom: 25px;">
            {% endblock %}
        </div>
    </body>
</html>
