{% extends "basePublica.html.twig" %}

{% block title %} Inicio {% endblock %}

{% block conteiner %}

<div class="col-md-12 col-sm-12 tresColumnas">
    <div class="col-md-4 col-sm-4 col">
        <img src="../img/iconos/1.png" class="imgColumn">
        <h3>Confiabilidad</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    <div class="col-md-4 col-sm-4 col">
        <img src="../img/iconos/2.png" class="imgColumn">
        <h3>Palabra clave</h3>
        <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
    </div>
    <div class="col-md-4 col-sm-4 col">
        <img src="../img/iconos/3.png" class="imgColumn">
        <h3>Seguridad</h3>
        <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus.</p>
    </div>
</div>

<div class="clear"></div>

<div class="bloque-bottom">
  <div id="modulo1">
    <h1>Titulo Mod</h1>
    <h5 class="desc-mod1">

      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non ummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci.

    </h5>
    <h6 class="cuerpo-mod1">
      <ul>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
        <li> Lorem ipsum </li>
      </ul>
    </h6>
  </div>

  <div class="flecha">
      <img src="../img/iconos/flecha.png">
  </div>

  <div id="modulo2">
    <h1>Contactenos</h1>
    <p>
      Complete sus datos en el siguiente formulario, nos pondremos en contacto con usted a la brevedad. 
      </br></br> Los campos marcados con un asterisco (*) son <b>obligatorios</b>.
    </p>
    <label>Nombre y Apellido</label> <span class="ast">*</span>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <label>Teléfono </label> <span class="ast">*</span>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <label>Correo electrónico</label> <span class="ast">*</span>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <label>CUIT / CUIL</label> <span class="ast">*</span>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      </span>
      <input type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <label>Comentario</label>
    <div class="input-group">
      <textarea class="form-control" rows="3" cols="60" style="overflow:auto;resize:none"></textarea>
    </div>

    

    <div class="btn-group">
      <button type="button" class="btn btn-primary">
        Enviar
      </button>
    </div>
  </div>
</div>
{% endblock %}

