{% extends "basePrivada.html.twig" %}
 {% block head %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="favicon.ico" />
        <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="../css/admin.css" rel="stylesheet" media="screen">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="../plugins/ckeditor/ckeditor.js"></script>
        <script src="../plugins/ckeditor/adapters/jquery.js"></script>
        <script type="text/javascript">$( document ).ready( function() {
          $( 'textarea#editor1' ).ckeditor();} );
        </script>   
        
          
 {% endblock %}
 {% block title %}Modificar Noticia{% endblock %}
  {% block conteiner %}
    <div class="col-4" style="">
      <div class="caja">
       <div class="panel-heading" > 
            <h3>Mis Noticias</h3>
       </div>
       <div class="panel-body">

          <form role="form" id="nuevaNoticia" action="privado.php?c=noticias&a=modificar" method="POST">

                <span class="help-block">Titulo 1:</span>
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo" name="titulo1" placeholder="Titulo" value="{{Titulo1}}" required/>             
                </div>
<<<<<<< HEAD
=======
                <div class="form-group">
                  <span class="help-block">Cuerpo 1:</span>
                  <textarea class="ckeditor" name="editor1" required/>{{Cuerpo1}}</textarea>
                </div>

                <span class="help-block">Titulo 2:</span>
>>>>>>> f2177e00679378c7d5c9786208cbbc1a76f09591
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo" name="titulo2" placeholder="Titulo" value="{{Titulo2}}"equired/>             
                </div>

                <span class="help-block">Titulo 2:</span>
                <div class="form-group">
                  <input type="text" class="form-control" id="titulo" name="titulo2" placeholder="Titulo" required/>             
                </div>
                <div class="form-group">
                  <span class="help-block">Cuerpo 2:</span>
                  <textarea class="ckeditor" name="editor2"  required/>{{Cuerpo2}}</textarea>
                </div>
                <button id="btn-login" class="btn btn-success boton-enviar" type="submit" name="guardarNoticia">Guardar</button>
          </form>

        </div>
      </div>
      </div>
    </div>
         
  {% endblock %}
