{% extends "basePrivada.html.twig" %}

{% block title %}Cargar Noticia{% endblock %}

{% block conteiner %}
  <div class="container-fluid">
      <div class="text-center">
        <h1>Bootstrap forms</h1>
        <p class="lead">Crea o edita noticias desde esta pagina. </p>
      </div>
      <form class="form-horizontal cargarNoticia" role="form">
        <div class="row col-md-3">
            <div class="form-group">
              <label for="titulo" class="control-label">Titulo:</label>
                <input type="text" class="form-control" id="titulo" placeholder="Titulo">
          </div>
        </div>
        <div class="row col-md-3">
            <div class="form-group">
              <label for="pienota" class="control-label">Nota:</label>
                <input type="text" class="form-control" id="pienota" placeholder="Nota">
          </div>
        </div>
        
      </form>
      
</div>
{% endblock %}
